@import "tailwindcss";

/*
** TailWindCSS Custom Theme
*/
@theme {
  --color-primary: #E65895;
  --color-secondary: #BC6BE8;
  --color-link: #1199FF;
  --color-linked: #1199FF;
  --color-dark: #393F6E;
  --color-light: #E2E4F3;
  --color-gray: #8B8EAB;
}

.main {
  margin: 30px;
  min-height: 100%;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.tree .flex-column .nav-item { text-align: left; width: 100%; }
.tree .flex-row .nav-item { text-align: center; }
.nodes .nav-link { padding-left: 1em; }
.items .nav-link { padding-left: 2em; }