/*
** Bootstrap Customized
*/
@import '@assets/bootstrap-min.css';

/*
** TailWindCSS && Custom Theme
*/
@import "tailwindcss";

@theme {
  --color-prn: #E65895;
  --color-lnk: #0077FF;
  --color-lnkd: #3355FF;
  --color-gray: #8B8EAB;
}

.main {
  margin: 30px;
  min-height: 100%;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.tree .flex-column .nav-item { text-align: left; width: 100%; }
.tree .flex-row .nav-item { text-align: center; }
.nodes .nav-link { padding-left: 1em; }
.items .nav-link { padding-left: 2em; }
